body {
	padding: 10%;
	font: 12pt Arial,sans-serif;
	background-color: #FFF5EE;
	color: darkgrey;
}
.container {
    display: grid;
    justify-content: center;
    align-items: center;
}
#calendar {
    display: none;
}