body {
	padding: 10%;
	font: 12pt Arial,sans-serif;
	background-color: #FFF5EE;
	color: darkgrey;
}
.container {
    display: grid;
    justify-content: center;
    align-items: center;
}
#calendar {
    display: none;
	padding: 3%;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: minmax(auto, auto);
	justify-items: center;
	background-color: $color_base_wight;
}