.date_picker_unchecked {
	border-radius: 10%;
	background-color: $color_base;
	color: $color_base_wight;
}

.date_picker_checked {
	background-color: $color_base_wight;
	color: $color_base;
}

#date_conclusion {
	background-color: $color_base_wight;
	
	/*:focus {
		border: 1px solid;
		padding: 100px;
		НЕ РАБОТАЕТ
	}*/
}

#date_conclusion:focus {
		border: 1px solid $color_base;
}

#calendar_month_year {
	padding: 29px;
	font: 16pt Arial,sans-serif;
	grid-column: 2/7;
}

.calendar button {
	background-color: $color_base;
	color: $color_base;
}