.date_picker_unchecked {
	border-radius: 10%;
	background-color: $color_base;
	color: $color_base_wight;
}

.date_picker_checked {
	background-color: $color_base_wight;
	color: $color_base;
}

#date_conclusion {
	background-color: $color_base_wight;
	
	/*:focus {
		border: 1px solid;
		padding: 100px;
		НЕ РАБОТАЕТ
	}*/
}

#date_conclusion:focus {
		border: 1px solid $color_base;
}

#calendar_month_year {
	padding: 3%;
	grid-column: 2/7;
	font: 14pt Arial,sans-serif;
	color: maroon;
	text-align: center;
}
.calendar_nav_button {
		background-color: $color_base;
		color: $color_base_wight;
}
.calendar_day {
	color: maroon;
}