body {
	background-color: #FFEBCD;
	color:  #000;
	text-shadow: 1px 1px 1px #B22222,
	0 1px 1px #B22222, 
	-1px 0 1px #B22222, 
	0 -1px 1px #B22222;
}
header {
	text-align: center;
} 
.type_of_equipment, .choice_of_equipment {
	list-style-type: none;
}

.choice_of_equipment, iframe, .adres {
    display: none;
}
.type_of_equipment {
		display: inline-block;
		width: 200px;
		height: 50px;
		text-align: center;
		line-height: 3;
		background-color: white;
		padding: 0;
		float: left;
		border: 1px solid black;
		margin: 5px;
}
.type_of_equipment:hover + .choice_of_equipment {
	display: inline-block;    
	background-color: white;
	float: left;
}

h1 {
	font-size: 150%;
}
input.personal_data {
	margin: 10px 0 20px 0;
}
input.delivery {
	margin-bottom: 20px;
}
.clear {
	clear: left;
}
button {
	width: 100px;
	height: 25px;
	border: 1px solid ;
    color: gray;
    background-color: darkgray;
}

input:checked + button {
		background-color: white;
        border: 1px solid darkred;
        color: darkred;
}

input[type="radio"]:checked + iframe {
    display: inline-block;
    width: 400px;
    height: 200px;
}
input:checked + input {
    display: inline-block;
} 
textarea {
    width: 300px;
    height: 150px;
    border: 1px solid red;
    margin: 30px 0 30px 0;

}