body {
	background-color: #FFEBCD;
	color:  #000;
	text-shadow: 1px 1px 1px #B22222,
	0 1px 1px #B22222, 
	-1px 0 1px #B22222, 
	0 -1px 1px #B22222;
}
.logo {
	text-align: center;
} 
.menu_section, .part_of_the_section {
	list-style-type: none;
}

.part_of_the_section, iframe, .delivery_adres {
    display: none;
}
.menu_section {
		display: inline-block;
		width: 200px;
		height: 50px;
		text-align: center;
		line-height: 3;
		background-color: white;
		padding: 0;
		float: left;
		border: 1px solid darkred;
		margin: 1px;
}
.menu_section:hover + .part_of_the_section {
	display: inline-block;    
	background-color: white;
	position: absolute;
	top: 240px;
	left:30px;
	border: 1px solid darkred;
	padding: 20px;
}
h1.order_section_headline {
	font-size: 150%;
}
h2.order_section_headline {
	font-size: 100%;
}
input.personal_data {
	margin: 10px 0 20px 0;
	border: 1px solid darkred;
	padding: 10px;
}
input.delivery_method {
	margin-bottom: 20px;
}
.clear {
	clear: left;
}
button[type="submit"] {
	width: 100px;
	height: 25px;
	border: 1px solid gray;
    color: gray;
    background-color: darkgray;
}

#conditions:checked + button {
		background-color: white;
        border: 1px solid darkred;
        color: darkred;
}

input[type="radio"]:checked + iframe {
    display: inline-block;
    width: 400px;
    height: 200px;
}
input:checked + input {
    display: inline-block;
    border: 1px solid darkred;
    padding: 10px;
} 
.customer_comment {
    width: 300px;
    height: 150px;
    border: 1px solid darkred;
    margin: 30px 0 30px 0;

}