/*.product {
    background-color: rgba(215, 230, 217, 0.1);
    cursor: pointer;
}


.product__list__buttonBuy, .button__checkout {
    width: 160px;
    height: 40px;
    border-radius: 5%;
}
.button__checkout {
    margin: 2%;
}
.basket__content {
	background-color: #fefefe;
	margin: 3% auto;
	padding: 20px;
	border: gray;
    width: 80%;
    height: auto;
    overflow: scroll;
	.bascet__close {
        float: right;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            border: 1px solid rgba(185, 212, 189, 0.63);
        }
    }
    .basket__produÑt {
        margin: 1%;
        padding: 1% 3%;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2vw;
    }
}
.regulPrice__button {
    display: inline;
    text-align: center;
    background-color: rgb(124, 218, 136);
    &:hover {
        background-color: rgba(84, 192, 98, 0.1);
    }
    &:active {
        border: none;
    }
    &::selection {
        background: none;
        border: none;
    }
}
.list__buy__count {
    font-size: 12px;
    text-align: center;
    padding: 0%;
    margin: 0%;
}*/
.product_button__checkout {
    margin: 0 0 3%;
}
.product__list__buttonBuy {
    width: 160px;
}
.product__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    & > li {
        border: 0.5px solid rgba(136, 133, 136, 0.2);
        background-color: rgba(179, 216, 216, 0.055);
        & > img {
            height: 150px;
        }
    }
    &.product__list__title {
        font-size: 16px;
    }
    &.product__list__author {
        font-size: 12px;
    }
    &.product__list__item {
        font-size: 14px;
    }
}