.checkbox_input {
	display: none;
}
.checkbox_label {
	padding-left: 30px;
	cursor: pointer; 
}

.checkbox_label::before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	background-color: blue;
	border-radius: 50%;	
	border: 1px solid blue;
	transition: 0.2s;
}
.checkbox_input:checked + .checkbox_label::before {
	content: '&#10084;';
	background-color: white;
	border: 7px solid blue;
}

// ок
