#checkbox {
	display: none;
}
@font-face {
    font-family: Fontello;
    src: url(fontello.ttf); 
}
.checkbox_intermediary {
	display: inline-block;
	width: 30px;
	height: 30px;
    font-family: Fontello;

	transition: all 1s;
}
#checkbox:checked + .checkbox_intermediary {
	background-image: url('https://im0-tub-by.yandex.net/i?id=5c316b469df45581a5037a085ca89cc1-l&n=13');
}