
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif, Arial,  Algerian;
    line-height: 1.5;
    background-color: #E6EAEC;
    color: #628D9E;
}
header {
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		margin-bottom: 1.5%; 
		width: 100%;
		height: 40px;
		background-color: #4682B4;
		text-align: center;
}
main {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	text-align: center;
}
a {
	text-decoration: none;
}

.search {
	position: relative;
	flex: 3;
}
.search > input {
    box-sizing: border-box;
    padding: 2px 2px 2px 40px;
    height: 25px;
    width: 200px;	
    border: 0;
    color: #d9e2ec;
    background: url('http://thailandstopover.com/images/flysearch.png') no-repeat; 
	background-size: 10px;
    background-position: 5% 50%;	
	background-color: #224b7a;
    border-radius: 15px;	
}
.search > input:focus {
	background-color: #fff;
	color: #000;
}
.profile {
	flex: 2;
}
.notice, .music, .logo {
	flex: 1;	
}
.profile:hover, .logo:hover, .notice:hover {
	background-color: #224b7a;
}
.profile_photo, .logo img {
	height: 30px;
	vertical-align: middle;
}
.notice_icon, .music_icon {
	height: 20px;
}
.profile_choice {
	height: 5px;
}
.profile_name {
	font-weight: bold;
	color: #fff;
}
.ptofile_settings {
	padding: 0;
	margin: 0;
}
.ptofile_settings > ul {
	margin: 0;
	list-style-type: none;
	text-align: left;

}
.ptofile_settings > ul li:hover {
	display: inline-block;
	background-color: #D4E6ED;
}
.ptofile_settings > ul li:last-of-type {
	padding: 5px 0 5px 0;
	border-style: solid;
    border-width: 1px 0 1px 0;
	border-color: #B0C4DE;
}	
.ptofile_settings img {
	width: 10px;
}
.blog {
	width: 150px;
	list-style-type: none;
	text-align: left;
	color: #808080;
	font-size: 10px;
}
.blog li {
	display: inline-block;
}
.blog li:hover {
	border-bottom: 1px solid #808080; 
}
.tape {
	margin: 0 3%;
}
.tape_user {
	margin-bottom: 3%;
	padding: 2% 4%;
	width: 100%;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;	
	background-color: white;
	text-align: left;
}
.tape_user_photo {
	width: 50px;
}
.content_photo {
	width: 500px;
}
.tape_like {
	margin-bottom: 20px;
	border-top: 1px solid #D3D3D3;
}
.tape_like_icon {
	padding: 20px 10px 10px 20px;	
	width: 20px;
	display: inline-block;
}
.news_settings {
	margin: 0 0 0 2%;
	padding-top; 10px;
}
.news_settings .news {
	margin-bottom: 5%;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;		
	background-color: #fff;

}
.news_settings ul {
	margin: 0 10px 0 0;
	padding: 10px;
	width: 140px;
	list-style-type: none;
	text-align: left;
}
.news_settings ul:nth-child(2) {
	padding: 0 0 0 10px;
	margin: 0;
	font-size: 0.9em;
	color: #808080;
}
.news_settings ul li {
	padding: 0 10px;
	width: 100%;
}
.news_settings ul li:hover {
	background-color: #E6EAEC;
	border-left: 2px solid #224b7a;
}
.interesting {
	 display: inline-block;
	 box-sizing: border-box;	
	 padding: 5px 40px 5px 5px;
	 width: 100%;
	 box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	 background-color: #fff;
	 background-image: url('icon/checkbox.png');
	 background-size: 30px;
	 background-position: 90% 50%;
	 background-repeat: no-repeat;
	 text-align: left;
	 font-size: 0.8em;
}
.interesting img {
	padding: 0 5px;
}
.switch {
	display: none;
}
input:checked + .interesting {
	 background-image: url('icon/checkbox2.png');	
}
