.like_checkbox {
	display: none;
}
.like_intermediary {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-image: url('image/like-link.png');
	background-repeat: no-repeat;
	background-size: 100%;	
	transition: all 1s;
}
.like_checkbox:hover + .like_intermediary {
	background-image: url('image/like-hover.png');

}
.like_checkbox:checked + .like_intermediary {
	background-image: url('image/like-checked.png');
}

.like_checkbox:checked + .like_intermediary:hover  {
	background-image: url('image/like-checked.png');
	opacity: 0.3;
}

// ок
